services:
  app:
    # build:
    #   context: docker
    #   dockerfile: Dockerfile
    image: ghcr.io/densuke/sphinx-texlive:20250622120607

    #user: worker
    volumes:
      - .:/app:cached
      # Docker outside of Docker
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8000:8000"
    environment:
      PATH: /app/node_modules/.bin:$PATH
      