services:
  app:
    # build:
    #   context: docker
    #   dockerfile: Dockerfile
    image: ghcr.io/densuke/sphinx-texlive:20250611200822

    #user: worker
    volumes:
      - .:/app:cached
    ports:
      - "8000:8000"
      