# Sphinxを用いたドキュメントのビルド

# 発火対象は以下とする
# - mainブランチのsources以下へのコミット(プッシュ)
# - mainブランチへのプルリクエストのマージ
# - 手動

# ただし、手動での発火は、workflow_dispatchを指定する必要がある
# そのため、手動での発火は、workflow_dispatchを指定する必要がある
name: Build Sphinx Documentation

on:
  push:
    branches: [ main ]
    paths:
      - 'sources/**'
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: build HTML docs
        run: |
          docker compose run -w /app app make clean html
