# Sphinxを用いたドキュメントのビルド(PDF)

# 発火対象は以下とする
# - 手動(latestとして公開)
# - mainブランチへのpushもしくはpull_request
#   - リリース名 latest として公開する
# - "vX.X.X"のタグがpushされたとき
#   - リリース名をタブ名として公開する

# ただし、手動での発火は、workflow_dispatchを指定する必要がある
# そのため、手動での発火は、workflow_dispatchを指定する必要がある
name: Build Sphinx Documentation(PDF)

# ビルド時に書き込みが必要なので権限を設定
permissions:
  contents: write

on:
  push:
    branches: [ main ]
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
    paths:
      - 'sources/**'
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: setup uv
        run: |
          # install uv
          curl -LsSf https://astral.sh/uv/install.sh | sh
          # add PATH
          echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: check TeXLive tool
          # latexmkがパス上にあって呼び出せるかをチェックする、成否に関係なく進行し、結果(パスor空文字)を記録して後で使う
        id: check_texlive
        run: |
          set -e
          # latexmkがパス上にあって呼び出せるかをチェックする、成否に関係なく進行し、結果(パスor空文字)を記録して後で使う
          if command -v latexmk &> /dev/null; then
            echo "latexmk is installed"
            echo "latexmk_path=$(command -v latexmk)" >> $GITHUB_OUTPUT
          else
            echo "latexmk is not installed"
            echo "latexmk_path=" >> $GITHUB_OUTPUT
          fi
      - name: setup texlive
        # この処理は、texliveがインストールされていない場合にのみ実行される
        if: steps.check_texlive.outputs.latexmk_path == ''
        run: |
          set -x
          wget -O- https://mirror.ctan.org/systems/texlive/tlnet/install-tl-unx.tar.gz | tar xz
          mv install-tl-* install-tl
          cd install-tl
          set -e
          ./install-tl --profile ../docker/texlive.profile
          # "/opt/texlive/bin/アークテクチャ"にGITHUB_OUTPUTに保存しておく
          # これをPATHに追加することで、texliveが使えるようになる
          echo "PATH=/opt/texlive/bin/$(uname -m)-$(uname -s | tr A-Z a-z):$PATH" >> $GITHUB_ENV
          PATH=/opt/texlive/bin/$(uname -m)-$(uname -s | tr A-Z a-z):$PATH
          tlmgr install wrapfig capt-of framed upquote needspace \
            tabulary varwidth titlesec latexmk cmap float wrapfig \
            fancyvrb booktabs parskip 
      - name: build PDF doc
        run: |
          make latexpdf

      - name: upload PDF as Artifact
        if: ${{ !env.ACT }}
        uses: actions/upload-artifact@v4
        with:
          name: doc-pdf
          path: build/latex/*.pdf
      # リリース処理: 本ファイル冒頭のルールに従い、リリースバージョンを設定する
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        if: ${{ !env.ACT }} && github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        with:
          tag_name: ${{ (github.ref_type == 'tag') && github.ref || 'latest' }}
          # release_name: ${{ (github.ref_type == 'tag') && github.ref || 'latest' }}
          files: build/latex/*.pdf
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}