# Sphinxを用いたドキュメントのビルド(PDF)

# 発火対象は以下とする
# - 手動(latestとして公開)
# - mainブランチへのpushもしくはpull_request
#   - リリース名 latest として公開する
# - "vX.X.X"のタグがpushされたとき
#   - リリース名をタブ名として公開する

# ただし、手動での発火は、workflow_dispatchを指定する必要がある
# そのため、手動での発火は、workflow_dispatchを指定する必要がある
name: Build Sphinx Documentation(PDF)

# ビルド時に書き込みが必要なので権限を設定
permissions:
  contents: write

on:
  push:
    branches: [ main ]
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
    paths:
      - 'sources/**'
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: image pull(quietly)
        run: |
          docker compose pull app --quiet
      - name: build PDF doc
        run: |
          sudo chown -R $USER .
          docker compose up -d
          sleep 2
          docker compose exec app sudo groupadd $(id -g) $(id -gn)
          docker compose exec app sudo useradd -u $(id -u) -g $(id -g) -m $(id -un)
          docker compose exec app sudo chown -R $(id -u):$(id -g) /app
          docker compose exec app make clean latexpdf
      - name: upload PDF as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: doc-pdf
          path: build/latex/*.pdf
      # リリース処理: 本ファイル冒頭のルールに従い、リリースバージョンを設定する
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        with:
          tag_name: ${{ (github.ref_type == 'tag') && github.ref || 'latest' }}
          # release_name: ${{ (github.ref_type == 'tag') && github.ref || 'latest' }}
          files: build/latex/*.pdf
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}